{% extends "base.html" %}

{% block heading %}
Generate CSV
{% endblock %}

{% block content %}
<div class="container pt-3">

    {% if code == 1 %}
    <div class="alert alert-success" role="alert">
      <i class="bi bi-check-circle-fill"></i> <span class="fw-bold"> Operation complete! </span> {{message}}
    </div>
    {% elseif code == -1 %}
    <div class="alert alert-danger" role="alert">
      <i class="bi bi-x-circle-fill"></i> <span class="fw-bold"> Operation failed! </span> {{message}}
    </div>
    {% endif %}

    <form class="p-3 border rounded bg-light" method="post">
        <div class="form-group">
            <label class="form-label" for="number_of_records">Number of records</label>
            <input type="number" min="0" max="1000000" required class="form-control" id="number_of_records" name="number_of_records">
          </div>
          <input type="submit" value="Generate CSV" class="btn btn-primary mt-3">
    </form>
</div>
{% endblock %}